# Dependencies
node_modules/
.pnpm-store/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native (managed workflow normally excludes these)
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Misc
.DS_Store
*.pem
npm-debug.*
yarn-debug.*
yarn-error.*
.idea/
.vscode/
*.swp
*.log

# Env
.env
.env.local
.env.development.local
.env.production.local

# Tests
coverage/
*.lcov
.jest-cache/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*-debug.log

# Detox
e2e/.cache/
e2e/build/
e2e/.test-artifacts/
e2e/screenshots/

# OS
Thumbs.db
__MACOSX/
